/** Colors **/
/** Sizes **/
/** Colors **/
/** Sizes **/
/** This largely comes from Robb0wen's Synthwave-vscode that I really really like (Even a bit too much I think) **/
/** https://github.com/robb0wen/synthwave-vscode **/
.green {
  color: #6de5af;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #257c5575, 0 0 25px #21272475;
}

.yellow {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

.blue {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background: #2a2139;
  color: #dadbe0;
  font-family: Arial;
}

header {
  display: none;
}

header h1 {
  background: inherit;
}

@media (max-width: 700px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #171520;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 999;
  }
  header button, header h1 {
    margin: 10px;
  }
  header h1 {
    padding: 0;
  }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    background-color: #f4eee4 !important;
    -webkit-box-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
            box-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
  }
}

a {
  color: #6de5af;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #257c5575, 0 0 25px #21272475;
}

h1, h2, h3, h4 {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
  margin: 0;
  padding: 15px;
  background: #241b2f;
  text-align: center;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
  padding: 40px 0 40px 0;
  background: #171520;
  text-align: center;
    box-shadow: 2px 0 3px #171520;
}

@media (max-width: 1000px) {
  nav {
    width: 200px;
    padding: 30px 0 30px 0;
  }
}

@media (max-width: 700px) {
  nav {
    width: 100vw;
    padding: 40px 0 40px 0;
    padding-top: 80px;
    left: -100vw;
    box-shadow: none;
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: #241b2f;
}

nav ul li:hover {
  background: #2a2139;
}

nav div {
  margin: 5px;
}

nav #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav #social img {
  width: 32px;
}

.opened {
  left: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 300px;
}

@media (max-width: 1000px) {
  section {
    margin-left: 200px;
  }
}

@media (max-width: 700px) {
  section {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  #about {
    margin-top: 60px;
  }
}

#about h1 {
  width: 100%;
}

#about #presentation {
  width: 500px;
  text-align: justify;
  padding: 40px;
}

#projects #pro, #projects #perso, #projects #drx, #projects #divers {
  width: 100%;
}

#projects #pro > p, #projects #perso > p, #projects #drx > p, #projects #divers > p {
  text-align: center;
}

#projects article {
  width: 90%;
  margin: 20px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #241b2f;
  border: 1px solid #171520;
  border-radius: 2px;
  box-shadow: 0 0 5px #171520;
}

@media (min-width: 700px) {
  #projects article {
    height: 200px;
  }
}

@media (min-width: 1300px) {
  #projects article {
    height: 300px;
  }
}

@media (max-width: 700px) {
  #projects article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#projects article .img {
    width: 80%;
}

#projects article .img img {
    width:100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 700px) {
  #projects article .img img {
    width: 250px;
    height: 100%;
  }
}

@media (min-width: 1300px) {
  #projects article .img img {
    width: 500px;
    height: 298px;
  }
}

#projects article .prj-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects article .prj-col .project-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#projects article .prj-col .project-content p {
  margin: auto;
  width: 95%;
}

#projects article .prj-col .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 20px;
}

#projects article .prj-col .project-links .bouton {
  display: block;
  background: #171520;
  padding: 10px;
  min-width: 100px;
  height: 50px;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

#projects article .prj-col .project-links .bouton:hover {
  background: #2a2139;
}
/*# sourceMappingURL=main.css.map */
