$bg_darker: #171520;
$bg_dark: #241b2f;
$bg_soft: #2a2139;
$bg_softer: #2a2139;

$fg_dark: #86858b;
$fg_light: #d1d0d2;

/** Colors **/
$dark_green: #5db793;
$bright_green: #6de5af;

$similiwhite: #dadbe0;
$whiteish: #f4eee4;

/** Sizes **/
$s-detector: 1000px;
$xs-detector: 700px;

$leftMenuWidth: 300px;
$leftMenuWidth-s: 200px;

$paddingMenu: 40px 0 40px 0;
$paddingMenu-s: 30px 0 30px 0;

$heightHeader: 60px;